<div class="container"> 

  <!-- Main hero unit for a primary marketing message or call to action --> 
  <div class="hero-unit"> 
    <h1>Hello, Twilio!</h1> 
    <p>Enter your phone number and a message below to send your first sms!</p> 
	<div class="clearfix">
		<div class = "well">
			<form class ="input" action ="/sms" method ="post">
				<label for="sms"><b>SMS Message:</b></label>
				<input class="xlarge" id="sms" name="sms" size="140" type="text" />
				<br /><br />
				<label for="sms"><b>Phone Number:</b></label>
				<input class="xlarge" id="phone" name="phone" size="10" type="text" />
				<br /><br />
				<input class="btn large primary" type="submit" value="Text Me!"></input>
			</form>
		</div>
	</div> 
  </div> 


</div>
